*{
    padding:0px;
    margin:0px;
    box-sizing:border-box
}

/* Nav Style */
nav{
    height:100px;
    width:100%;
    /* background-color:lemonchiffon; */
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px;
    position:fixed;
    z-index:9999
}

.logo{
    height:100px;
    width:100px;
    position:relative;
    transition: all 1s;
    transform-style:preserve-3d
}

.side{
    height:100px;
    width:100px;
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius:50%
}
.front{
    background-color: brown;
}
.back{
    background-color: blue;
    transform:rotateY(180deg);
}
.logoimg{
    height:100%;
    width:100%;
    border-radius:50%
}
.logo:hover{
    transform:rotateY(180deg);
}


.navbar{
    display:flex;
    gap:30px;
    font-size:25px;
}

.navs{
    text-decoration:none;
    /* background-color:black; */
    padding:10px 20px;
    border-radius:22px;
    color:azure;
    position:relative
}

.navs:hover{
    background-color:azure;
    color:black;
    transition: all 1s;
}

.book{
    animation: zoom 1.5s infinite;
    background-color: crimson;
    border-top-left-radius: 0px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 0px;
}

@keyframes zoom{
    0%{
        transform:scale(1)
    }
    50%{
        transform:scale(1.2)
    }
    100%{
        transform:scale(1)
    }
}

label{
    display:none
}
.check{
    display:none
}
.check:checked~.navbar{
    background-color:white;
    left:50%
}

/* Navbar media query */
@media only screen and (max-width:800px){
    .navbar{
        background-color:white;
        position:fixed;
        top:80px;
        left:100%;
        width:50%;
        height:54vh;
        flex-direction: column;
        /* justify-content: center; */
        align-items:center;
        padding:50px;
        transition:all 1s;
        font-size:15px;
        gap:2px;
        border-radius:22px
    }
    label{
        display:block;
        color:black;
        font-size:50px;
    }
}

/* Container-1 */
.con1{
    min-height:800px;
    width:100%;
    background-image: url("./book.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.con1-text{
    height:60%;
    width:30%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap:10px
}

.sub-des{
    font-size:18px;
    width:70%;
    color:rgb(18, 11, 11);
    text-align: center;
}
.des{
    font-size:55px;
    color:rgb(16, 61, 36);
    text-align: center;
    width:80%
}

.span-des{
    color: rgb(82, 41, 16);
}

@media only screen and (min-width:300px) and (max-width:600px){
    .con1{
        width:100%
    }
    .con1-text{
        width:80%
}
    
    .head{
    font-size:18px;
     text-align: center;
}
    .sub-des{
    font-size:12px;
    width:70%;
}
    .des{
    font-size:40px;

}

}

@media only screen and (min-width:600px) and (max-width:900px){
    .con1-text{
        width:80%
}
    
    .head{
    font-size:20px;
   
}
    .sub-des{
    font-size:14px;
    width:70%;
    text-align: center;
}
    .des{
    font-size:48px;

}
}

/* Container-2 */
.con2{
    min-height:600px;
    /* background-color:blueviolet; */
    /* text-align:center; */;
    padding:30px
}
.title-div{
    text-align:center;
    background-clip: text;
    color:transparent;
    background-image: linear-gradient(to top, rgb(235, 57, 87), rgb(220, 167, 70));
    /* color:rgb(14, 14, 131) */

}
.sub{
    font-size:18px
}
.package-div{
    min-height:500px;
    width:100%;
    /* background-color:rgb(146, 181, 246); */
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap;
    gap:20px
    
}
.package{
    height:420px;
    width:370px;
    background-color: blanchedalmond;
    border-radius:25px;
    padding:20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;;
    gap:10px;
    animation: up 1s infinite;
    transition: all 1s;
}
.pack-text{
    display: flex;
    flex-direction: column;
    gap:12px
}
.pack-btn{
    padding:15px;
    color:white;
    border-radius:22px;
    border:none;
    width:100%;
    background-color: blue;
    font-size:18px
}
.package-1{
    color:blue;
    border:2px solid blue
}
.package-2{
    color:rgb(225, 59, 59);
    border:2px solid rgb(225, 59, 59);
}
.package-3{
    color:rgb(136, 37, 228);
    border:2px solid rgb(136, 37, 228);
}

.pack-btn-2{
    background-color:rgb(225, 59, 59) ;
}
.pack-btn-3{
    background-color:rgb(136, 37, 228)
}
.package-2{
    position: relative;
}
.pop{
    position:absolute;
    background-color:rgb(225, 59, 59) ;
    border-radius:12px;
    color:white;
    padding:10px;
    top:-5%;
    left:35%
}
.package:hover{
    transform: translateY(10px);
}
@keyframes up {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}

@media only screen and (min-width:3000px) and (max-width:400px){
    .con2{
        min-height:800px
    }
    .pop{
        left:25%

    }
}

/* Container-3 */
.con3{
    min-height:500px;
    /* background-color: bisque; */
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
form{
    height:500px;
    width:700px;
    /* background-color: azure; */
    padding:50px;
    color:rgb(26, 26, 144);
    border-radius:22px;
    display: flex;
    flex-direction: column;
    gap:10px

}
.title{
    font-size:22px;
    text-align: center;
    margin-bottom:20px
}
.tic{
    transform: rotate(150deg);
    
}
.label-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:10px
}
.lbl{
    display:inline;
    font-size:18px
}
.int{
    width:75%;
    padding:10px;
    border-radius:12px;
    border:2px solid grey
}
.form-btn{
    width:100%;
    padding:10px;
    font-size:18px;
    color:white;
    border-radius:18px;
    background-color: brown;
    border:none
}
.int4{
    width:50%
}
.int5{
    width:50%
}
.lb1{
    width:50%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lb2{
    width:50%;
    /* background-color: brown; */
    display: flex;
    justify-content: end;
    align-items: center;
    gap:10px
}
.form-img-div{
    height:500px;
    width:500px;
    padding:30px
}
.form-img{
    height: 100%;
    width:100%;
    border-radius:30%
}
.date{
    display: none;
}

@media only screen and (min-width:300px) and (max-width:600px){
    
    
    label{
        font-size:15px;
        color:rgb(26, 26, 144);
    }
    .int{
        width:60%
    }
    .label-2{
        flex-direction: column;
        gap:20px
    }
    .lb1{
        width:100%
    }
    .lb2{
        width:100%;
        justify-content:space-between;
    }
    .date{
        display: block;
    }

    form{
        order:1;
        height:550px
    }
}
@media only screen and (min-width:600px) and (max-width:1200px){
    form{
        order:1
    }
    label{
        color:rgb(26, 26, 144);
    }
}

/* Footer */
.foot{
    min-height:500px;
    background-color:rgb(9, 9, 63);
    color:white;
    padding:20px;
    display:flex;
    flex-wrap:wrap;
    align-items: start;
    justify-content: space-evenly;
    font-size:18px;


}
.description{
    width:280px;
}
.foot-logo{
    height:100px;
    width:100px;
    border-radius:50%
}

.ulist{
    list-style-type:none;
    margin-top:50px;
    display: flex;
    flex-direction:column;
    gap:10px
}
.list3{
    width:260px;
    /* background-color: aqua; */
    
}

li:hover{
    text-decoration: underline;
}

.foot2{
    min-height:60px;
    background-color:rgb(9, 9, 63);
    color:white;
    display:flex;
    justify-content:center;
    align-items: center;
    padding:25px
}

.foot-icn{
    height:60px;
    width:60px;
    padding:10px;
    font-size:30px;
    transition: all 1s;
}
.foot-icn:hover{
    transform: translateY(-12px);
}
.foot-icn1{
    color:rgb(245, 71, 100)
}
.foot-icn2{
    color:blue
}
.foot-icn3{
    color:red
}
.foot-icn4{
    color:skyblue
}
.description p{
    line-height: 25px;
}
.foot-clr{
    color:rgb(232, 232, 13)
}

@media only screen and (min-width:300px) and (max-width:600px){
    .foot-text{
        font-size:10px;
        order:1;
    }
    .foot2{
        flex-direction: column;
        gap:10px
    }
}

























/* Conatiner-2
        <div class="con2">
            <div class="contact-div">
                <div class="contact contact-1">

                    <h1> Call Us </h1>
                    <h3> We are just a call away! </h3>
                    <h2> +91 63796 71901</h2>
                    <div></div>


                </div>

            </div>

        </div> */